<!DOCTYPE html>

<html>
<title>New User</title>

<head>

    <title>The Materialize Example</title>
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family = Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
    </script>

    <style>
        #signin {
            margin: 5% auto auto auto;
            max-width: 40%
        }
    </style>

</head>


<body class="section" id="signin">
    <div class="card-panel">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Username" value="" id="name" type="text" class="active validate" required />
                        <label for="name">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <label for="password">Password</label>
                        <input id="password" type="password" placeholder="Password" class="validate" required />
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Email" id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="Address" value="" id="address" type="text" class="active validate" required />
                        <label for="address">Address</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s4">
                        <input placeholder="City" value="" id="city" type="text" class="active validate" required />
                        <label for="city"></label>
                    </div>

                    <div class="input-field col s4">
                        <input placeholder="State" value="" id="state" type="text" class="active validate" required />
                        <label for="state"></label>
                    </div>

                    <div class="input-field col s4">
                        <input placeholder="Zip" value="" id="zip" type="text" class="active validate" required />
                        <label for="zip"></label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
        </div>
    </div>
    </form>
    </div>
    </div>
</body>

</html>