body {
	height: 100%;
	width: 100%;
	background-image: url('/assets/image/project2text2.png') ;
	background-size: 100%;
    background: url("/assets/image/project2text2.png") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}