<!DOCTYPE>

<html>
<title>Food Provider</title>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>

  <!-- Adding new items-->
  <div class="conatainerSubmit">
      <div class="row">
          <input type="submit" value="Submit Food Items">
          <label for=""></label>
      </div>
  </div>


  <!-- list of food-->
  <div class="divider"></div>
  <div id="section1">
    <h1>List of Food</h1>
    <p>Items</p>
  </div>
  <!-- today's posting/ new food items-->
  <div class="divider"></div>
  <div id="section2">
    <h1>Today's New Items</h1>
    <p>New Item</p>
  </div>




  <!-- submitting new food items-->
  <!-- after clicking add, this should take it to the adding html page-->



</body>

</html>